h1, h2, h3, h4, h5, h6 {
	font-family: "brandon-grotesque";

}
h1 {
	font-size: 6em;
}
h4 {
	font-size: 3em;
	margin-top: 40px;
}

body {
	background-color: #d35400;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "brandon-grotesque";
	font-weight: "light";
	color: white;
}

.spinner {
  left: 50%;
  margin-left: -71px; 
  width: 100px;
  height: 100px;
  top: 100px;
  position: absolute;
}

.cube1, .cube2 {
  background-color: white;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(142px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(142px) translateY(142px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(142px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(142px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(142px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(142px) translateY(142px) rotate(-179deg);
    -webkit-transform: translateX(142px) translateY(142px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(142px) translateY(142px) rotate(-180deg);
    -webkit-transform: translateX(142px) translateY(142px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(142px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(142px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}